.button {
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-family: 'WixMadeforDisplay',Arial,sans-serif;
    line-height: 1.2;
    font-weight: 700;
    background-position: center center;
    border-radius: 20px;
    background-color: #ffffff;
    transition: background 0.3s ease-in-out;
    border: 3px solid #f9f6eb;
}

.accent:hover {
    background: hsl(227, 76%, 75%);
}

.accent {
    background: hsl(227, 76%, 67%);
}