.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  }

  .bg-left {
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
  }

  .bg-r {
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 11;
  }

  .wave-top {
    opacity: 0.8;
    position: absolute;
    bottom: 10vh;
    left: 0;
    width: 100%;
  }

  .wave-bot {
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 0;
  width: 100%;
  }